---
import Navbar from "@/components/Navbar.astro";
import "@fontsource/inter";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/projects/git-page/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --primaryColor: rgb(240, 81, 51);
    --secondaryColor: rgb(242, 107, 81);
    --darkBg: rgb(31, 32, 35);
    --darkBgLighter: rgb(38, 39, 43);
    --darkBgHover: rgb(48, 49, 54);
    --grayBorder: rgb(255, 255, 255, 0.1);
    --grayText: rgb(174, 178, 183);
    --darkBgTransparent: rgb(31, 32, 35, 0.7);
  }
  html {
    font-family: Inter;
    background-color: #1f2023;
  }
  body {
    margin: 0;
    padding: 0;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
