:root {
  --text-color: #dedede;
  --secondary-color: #262626;
  --background-color: #191919;
  --primary-font: 'Roboto', sans-serif;
  --shade-color: #000000;
  --focus-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:focus {
  outline: none;
  border: 1px solid var(--focus-color);
}

body {
  background-color: var(--background-color);
}

html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

.page-title,
.main-nav {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.page-title {
  padding-top: 4.5rem;
  padding-bottom: 1rem;
}

.title {
  padding-top: 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.skip-link {
  position: fixed;
  left: 2rem;
  top: 2rem;
  padding: 0.25rem 0.5rem;
  color: var(--text-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  box-shadow: 0 1px 5px var(--shade-color);
  transform: scale(0);
  z-index: 100;
}

.skip-link:focus {
  transform: scale(1);
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75rem 0;
}

.padding {
  padding: 6rem 0;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.nav-item a:focus {
  border: none;
}

.nav-item a::before,
.nav-item a::after {
  transition: opacity 0.2s ease-in-out;
  top: 0;
  left: 0;
}

.nav-item a::before {
  border-radius: 1rem;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 5px var(--shade-color);
  opacity: 1;
}

.nav-item a:hover::before,
.nav-item a:focus::before {
  opacity: 0;
}

.nav-item a::after {
  border-radius: 1rem;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 5px var(--focus-color) inset;
  opacity: 0;
}

.nav-item a:hover::after,
.nav-item a:focus::after {
  opacity: 1;
}

.history-section {
  scroll-padding-block: 6rem;
  padding: 1rem 0;
  margin: 2rem 0;
  box-shadow: 0px 5px 15px var(--shade-color);
}

.history-section > * {
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 1.2rem;
}

.history-section img {
  width: 90%;
}

.section-img-wrapper > img {
  padding: 1rem 0;
}

.content-list > li {
  list-style-position: inside;
  text-align: left;
}

.text-align-left {
  text-align: left;
}

.text-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
}

.text-wrapper > img {
  align-self: center;
}

.sub-title-text {
  font-size: 1.75rem;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
}

.main-wrapper {
  margin: 0 10%;
  color: var(--text-color);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.grid-row-span-3 {
  grid-row: span 3;
}

#mobile-nav {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

.mobile-nav-toggle {
  display: none;
}

/* Responsivity & Compatibility */

@media screen and (max-width: 1024px) {
  .main-wrapper {
    margin: 0 5%;
  }

  .main-nav {
    min-height: 3rem;
  }

  .mobile-nav-toggle {
    display: flex;
    position: fixed;
    cursor: pointer;
    align-items: center;
    width: 2rem;
    height: 1.5rem;
    top: 1rem;
    right: 1rem;
    z-index: 10;
  }

  .nav-list {
    transition: all ease 0.3s;
    transform: scale(0);
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    right: 0;
    top: 3rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    padding: 1rem;
  }

  .nav-item {
    padding: 1rem 0;
  }

  .burger {
    position: relative;
    display: block;
    height: 1rem;
  }

  .bar {
    display: block;
    position: relative;
    width: 2rem;
    height: 3px;
    border-radius: 1rem;
    background-color: rgb(217, 217, 217);
    /* 
      This transition is the one used when going from clicked to unclicked since
      the bars have another transition property while clicked.
      This will make the rotation happen first and then moving them apart.
    */
    transition: transform 0.2s ease, top 0.2s ease 0.2s;
  }

  /* These make the top and bottom bars move up and down since they start of stacked */
  .bar:nth-child(1) {
    top: -0.44rem;
  }

  .bar:nth-child(3) {
    top: 0.44rem;
  }

  /* 
    Makes the mobile menu visible using the ~ selector which selects all children of
    the type .nav-list that are siblings of the element with the id #mobile-nav.
  */
  #mobile-nav:checked ~ .nav-list {
    display: flex;
    transform: scale(1);
  }

  /* 
    This transition is the one used when going from unclicked to clicked since
    the bars get this transition property as soon as their clicked.
    This will make the bars move together first and then rotate them.
  */
  #mobile-nav:checked ~ .mobile-nav-toggle .bar {
    transition: transform 0.2s ease 0.2s, top 0.2s ease;
  }

  /* This moves the top bar into the middle and rotates it */
  #mobile-nav:checked ~ .mobile-nav-toggle .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 3px;
  }

  /* This rotates the middle bar along with the top bar */
  #mobile-nav:checked ~ .mobile-nav-toggle .bar:nth-child(2) {
    transform: rotate(45deg);
  }

  /* This moves the bottom bar into the middle and rotates it */
  #mobile-nav:checked ~ .mobile-nav-toggle .bar:nth-child(3) {
    top: -3px;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 875px) {
  .main-wrapper {
    margin: 0 10%;
  }

  .text-wrapper {
    grid-template-columns: 1fr;
  }

  .grid-col-span-2 {
    grid-column: span 1;
  }

  .grid-row-span-2,
  .grid-row-span-3 {
    grid-row: span 1;
  }

  .history-section > * {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-item > a {
    padding: 0.5rem 1rem;
  }

  .main-wrapper {
    margin: 0 2%;
  }

  .page-title {
    padding-top: 2rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .history-section > * {
    padding: 0 0.25rem;
  }

  .content-list > li {
    padding: 0 0.25rem;
  }
}
