---
import Layout from "@/layouts/Layout.astro";
// import Card from "../components/Card.astro";

// const test = [{ test: "test" }, { test: "test2" }];
---

<Layout title="Git">
  <main>
    <h1>Free and open source distributed version control system</h1>
    <p>
      Designed to handle everything from small to very large projects with speed
      and efficiency.
    </p>
  </main>
</Layout>

<style>
  .wrapper {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .custom-shape-divider-bottom-1681848268 {
    /* position: relative; */
    /* bottom: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1681848268 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-bottom-1681848268 .shape-fill {
    fill: #26272b;
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
