body {
    margin: 0;
}

main {
    padding: clamp(0.2rem, 4vw, 3rem);
}

.image-wrapper {
    display: grid;
    place-items: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
}

.image-wrapper > img {
    aspect-ratio: 1/1;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
