/* 
  @import is used even though it generally not reccomended inside css files
  since it can have performace implications were this css file needs to get downloaded
  and then parsed before the rest of the css files will be downloaded.
  
  But since I am using vite to build this project it will bundle all the css files into 
  one file and then minify it so it will not have any performance implications since 
  all the css ends up in the same file either way.
  */
@import "./global.css";

main {
  margin: 4rem 4rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 128, 255);
  padding-bottom: 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}

.contact,
.contact-info > li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact,
.contact * {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(0, 128, 255);
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  color: aqua;
  fill: white;
}
