/* 
  @import is used even though it generally not reccomended inside css files
  since it can have performace implications were this css file needs to get downloaded
  and then parsed before the rest of the css files will be downloaded.
  
  But since I am using vite to build this project it will bundle all the css files into 
  one file and then minify it so it will not have any performance implications since 
  all the css ends up in the same file either way.
  */
@import "./global.css";
@import "./project-list-style.css";

/* Z index to ensure the nav stays infront of any transforming projects */
header {
  z-index: 10;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 128, 255);
  padding-bottom: 3rem;
}

.project {
  transition: all 0.25s ease-in-out;
}

.project-description {
  transition: height 0.25s ease-in-out;
  height: 2.5rem;
  overflow: hidden;
}

/* 
  Using has selector which is not that widely supported
  so we need to add a fallback for browsers that don't support it
  which is down below in a @supports block
*/
.project-list:has(.project:is(:hover, :focus)) > .project {
  transform: scale(0.95);
  opacity: 0.75;
}

/*
  Needs to use !important since the selector above it is more specific
*/
.project:is(:hover, :focus) {
  transform: scale(1.15) !important;
  opacity: 1 !important;
  z-index: 1;
}

/* 
  Fallback for browsers that don't support :has() selector
*/
@supports not selector(.project:is(:hover, :focus)) {
  .project-list:hover > .project {
    transform: scale(0.95);
    opacity: 0.75;
  }
}

/* Checks if user is using touch and makes animation stop */
@media (hover: none) {
  .project-description {
    height: auto;
  }
}

/* Media query to make sure we only get a maximum of 3 projects per row */
@media screen and (min-width: 1200px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Media query for phones so that the icon goes above the description */
@media screen and (max-width: 600px) {
  .project-link {
    float: none;
    display: block;
  }
}
