/* 
  @import is used even though it generally not reccomended inside css files
  since it can have performace implications were this css file needs to get downloaded
  and then parsed before the rest of the css files will be downloaded.
  
  But since I am using vite to build this project it will bundle all the css files into 
  one file and then minify it so it will not have any performance implications since 
  all the css ends up in the same file either way.
  */
@import "./global.css";
@import "./project-list-style.css";

.title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 128, 255);
  padding-bottom: 3rem;
}

.project {
  transition: all 0.2s ease-in-out;
}

/* 
  Using has selector which is not that widely supported
  so we need to add a fallback for browsers that don't support it
  which is down below in a @supports block
*/
.project-list:has(.project:hover) > .project {
  transform: scale(0.95);
  opacity: 0.75;
}

/*
  Needs to use !important since the selector above it is more specific
*/
.project:hover {
  transform: scale(1.15) !important;
  opacity: 1 !important;
  z-index: 1;
}

@supports not selector(:has) {
  .project-list:hover > .project {
    transform: scale(0.95);
    opacity: 0.75;
  }
}

/* Media query to make sure we only get a maximum of 3 projects per row */
@media screen and (min-width: 1200px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
