* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(0, 42, 84, 1);
}

header {
  position: sticky;
  top: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 1rem;
  justify-content: end;
  align-items: center;
  background-color: rgba(0, 122, 245, 1);
}

.nav-list a {
  color: rgba(0, 42, 84, 1);
  font-weight: 700;
  font-size: 1.6rem;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

.github-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list img {
  height: 2rem;
  width: 2rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#mobile-nav {
  display: none;
}

.mobile-nav-toggle {
  display: none;
}

@media screen and (max-width: 480px) {
  header {
    position: fixed;
  }
  nav {
    width: 100vw;
  }

  main {
    padding-top: 2rem;
  }

  label {
    display: block;
    content: "";
    width: 2rem;
    right: 0;
    height: 2rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .nav-list {
    transition: all ease 0.3s;
    scale: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    right: 0;
    top: 3rem;
    border-radius: 0.5rem;
  }

  #mobile-nav:checked ~ .nav-list {
    scale: 1;
  }

  .mobile-nav-banner {
    display: flex;
  }

  .mobile-nav-toggle {
    display: flex;
    align-items: center;
  }

  .burger {
    position: relative;
    display: block;
    height: 1rem;
    cursor: pointer;
  }
  .bar {
    display: block;
    position: relative;
    width: 2rem;
    height: 3px;
    border-radius: 1rem;
    background-color: rgb(217, 217, 217);
    transition: transform 0.1s linear, top 0.1s linear 0.1s;
  }

  .bar:nth-child(1) {
    top: -0.44rem;
  }

  .bar:nth-child(3) {
    top: 0.44rem;
  }

  #mobile-nav:checked ~ .mobile-nav-toggle .bar {
    transition: transform 0.1s linear 0.1s, top 0.1s linear;
  }
  #mobile-nav:checked ~ .mobile-nav-toggle .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 3px;
  }
  #mobile-nav:checked ~ .mobile-nav-toggle .bar:nth-child(2) {
    transform: rotate(45deg);
  }
  #mobile-nav:checked ~ .mobile-nav-toggle .bar:nth-child(3) {
    top: -3px;
    transform: rotate(-45deg);
  }
}
